:root {
    --background: #319caa;
    --background-content: #c1e6db;
    --link: #ff0c0c;
    --accent: #319caa;
    --content-border: #fe2e01;
    --code-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e6fcf9;
    --background: #1f3341;
    --link: #fe7600;
    --accent: #319caa;
    --background-content: #101014;
    --content-border: #fe2e01;
    --code-background: #2d2d2d;
  }
}
