:root {
    --background: #319caa;
    --background-content: #c1e6db;
    --link: #ff0c0c;
    --accent: #1f3341;
    --content-border: #fe2e01;
    --code-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e6fcf9;
    --background: #1f3341;
    --link: #fe7600;
    --accent: #319caa;
    --background-content: #101014;
    --content-border: #fe2e01;
    --code-background: #2d2d2d;
  }
}

.content-page {
    border-radius: 1em 5em 1em 1em;
    background-color: var(--background-content);
    margin: 5% 8%;
    flex-direction: column;
    border-color: var(--content-border);
    border-width: 5px;
    border-style: solid;
}

@media (max-width: 500px) and (orientation: portrait)  {
  .content-page {
    margin: 0em;
    border-width: 1px;
  }
}

