{% extends "base.html" %}

{% block title %}{{ category }} &mdash; {{ site_title }}{% endblock %}

{% block meta_bar %}
<div class="meta-bar">
  <div class="meta-item"><b>[category]</b> <span>{{ category }}</span></div>
  <div class="meta-item"><b>[count]</b> <span>{{ pages|length }}</span></div>
</div>
{% endblock %}

{% block content %}
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr>
        <td class="name">
          <a class="nav-link" href="{{ base_url }}{{ page.category }}/{{ page.slug }}/">{{ page.title }}</a>
        </td>
        <td class="comment">
          {% if page.date %}{{ page.date.strftime('%Y-%m-%d') }}{% else %}N/A{% endif %}
        </td>
        <td>
          {% for tag in page.tags %}
            <a class="tag-item" href="{{ base_url }}tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3" class="empty">No entries in this category yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
