{% extends "base.html" %}

{% block title %}{{ category }} &mdash; {{ site_title }}{% endblock %}

{% block content %}
<h1>{{ category }}</h1>
{% if pages %}
<ul>
    {% for page in pages %}
    <li>
        <a href="/{{ page.category }}/{{ page.slug }}/">{{ page.title }}</a>
        {% if page.date %}
        <span class="post-meta">{{ page.date.strftime('%Y-%m-%d') }}</span>
        {% endif %}
        {% if page.tags %}
        <span class="post-meta">
            {% for tag in page.tags %}
            <a class="tag" href="/tags/{{ tag }}/">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nothing here yet.</p>
{% endif %}
{% endblock %}
